# Auto detect text files and perform LF normalization
* text=auto

*.inc linguist-generated=true
docs/* linguist-documentation
keywords.txt linguist-documentation
library.properties linguist-documentation
README.md linguist-documentation

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
